html {
  scroll-behavior: smooth;
}

/* Earth Projects Page Background */
.earth-page {
  background-color: var(--earth-background-soft);
  min-height: 90.5vh;
  padding: 40px 20px;
}

/* project grid */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto 60px auto;
}

/* project card stuff */
.project-card {
  padding: 40px;
  border-radius: 12px;
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  transition: 0.3s ease;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.earth-card {
  background-color: var(--earth-background);
  border: 3px solid var(--earth-border);
}

.project-card:hover {
  box-shadow: 0 4px 0 var(--earth-border);
  animation: earthShake 0.25s linear;
}

.project-section {
  max-width: 1000px;
  margin: 80px auto;
  padding: 40px;
  background-color: var(--appa-background);
  border-radius: 12px;
  border: 3px solid var(--earth-border);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.project-section .project-title {
  font-size: 30px;
  margin-bottom: 30px;
  color: var(--earth-border);
}

.project-section .project-subtitle {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--earth-border);
}

.project-problem-statment {
  margin-bottom: 40px;
  font-size: 1.2rem;
  color: var(--text-color);
  font-family: "Simonetta", Arial, sans-serif;
}

.process-blocks {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  margin-bottom: 60px;
}

/* alternating image layout */
.process-blocks:nth-child(even) {
  flex-direction: row-reverse;
}

/* image styling */
.project-image {
  width: 300px;
  height: auto;
  background-color: #e0d7c8;
  border-radius: 10px;
  border: 2px solid var(--appa-border);
  overflow: hidden;
  display: block;
}

.project-image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* text styling */
.project-text {
  flex: 1;
  font-size: 1.1rem;
  line-height: 1.6;
  font-family: "Simonetta", Arial, sans-serif;
}
.project-text .project-link {
  font-weight: bold;
}

.project-text a {
  text-decoration: none;
  color: var(--text-color);
}

.project-text a:hover {
  color: var(--darkglow);
  text-shadow: 0 0 6px var(--medium-glow);
}
